{% extends "mysite/base.html" %}
{% load static %}

{% block title %}Press - InnoHub Liberia{% endblock %}

{% block content %}
<h2 class="mt-10">Articles in {{ category_name }}</h2>
{% for article in page_obj %}
<div>
    <h3>{{ article.title }}</h3>
    <p>{{ article.content|striptags|truncatewords:20 }}</p>
    <a href="{% url 'article_detail' article.id %}">Read more</a>
</div>
{% endfor %}

<!-- Pagination Controls -->
<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}
