{% extends "mysite/base.html" %}
{% block title %}{{ category_name }} Articles - InnoHub Liberia{% endblock %}

{% block content %}
<section class="py-5 pt-10">
    <div class="container">
        <h2>{{ category_name }} Articles</h2>
        <hr>
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{% if article.image %}{{ article.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}"
                         class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <a href="{% url 'article_detail' article.id %}"><h5>{{ article.title }}</h5></a>
                        <p>{{ article.content|truncatewords_html:25 }}</p>
                        <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

