{% extends "mysite/base.html" %}
{% load static %}


{% block title %}Buy and Sell{% endblock %}




{% block content %}
<div class="container">
    <h2>{{ item.title }}</h2>
    <img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid" />
    <p><strong>Price:</strong> ${{ item.price }}</p>
    <p><strong>Location:</strong> {{ item.location }}</p>
    <p><strong>Posted:</strong> {{ item.posted_on|timesince }} ago</p>
    <p>{{ item.description }}</p>
    <p>To buy  <button type="button" class="btn btn-success" ><a href="{%url 'contact' %}">contact</a></button></p>

</div>
{% endblock %}

