{% extends "mysite/base.html" %}
{% load static %}

{% block title %}Press - InnoHub Liberia{% endblock %}

{% block content %}
<section class="bg-light py-5 mt-5 mb-5">
    <div class="container-fluid px-lg-5 px-md-4 px-3">
        <!-- Featured Story -->
        {% if featured_post %}
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="mb-0">Featured Story</h6>
            <div>
                <a class="text-arrow-icon small" href="#!">
                    More headlines
                    <i data-feather="arrow-right"></i>
                </a>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="card mb-4">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-6 p-lg-5 p-4">
                        <a class="badge badge-marketing bg-primary-soft rounded-pill text-primary mb-3" href="#!">{{ featured_post.category }}</a>
                        <a class="text-dark" href="#!"><h1>{{ featured_post.title }}</h1></a>
                        <p>{{ featured_post.content|truncatewords:40 }}</p>
                        <a class="text-arrow-icon small" href="#!">Read more <i data-feather="arrow-right"></i></a>
                    </div>
                    <div class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex"
                         style="background-image: url('{% if featured_post.image %}{{ featured_post.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}');
                                background-size: cover; background-position: center; max-width: 100%; max-height: 400px;">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Top Stories -->
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="mb-0">Top Stories</h6>
            <div>
                <a class="text-arrow-icon small" href="#!">View more <i data-feather="arrow-right"></i></a>
            </div>
        </div>
        <hr class="mb-4" />
        <div class="row gx-5">
            {% for story in top_stories %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{% if story.image %}{{ story.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}"
                         class="card-img-top img-fluid" style="max-width: 100%; max-height: 200px; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <a class="text-dark" href="#!"><h5>{{ story.title }}</h5></a>
                        <p>{{ story.content|truncatewords:20 }}</p>
                        <a class="text-arrow-icon small" href="#!">Read more <i data-feather="arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Opinion Section -->
        <h6>Opinion</h6>
        <hr class="mb-4" />
        {% for opinion in opinion_posts %}
        <div class="d-flex mb-4">
            <div class="avatar avatar-lg">
                <img class="avatar-img img-fluid" src="{% if opinion.image %}{{ opinion.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}"
                     style="max-width: 100px; max-height: 100px; object-fit: cover;" alt="{{ opinion.title }}">
            </div>
            <div class="ms-3">
                <a class="text-dark" href="#!"><h6>{{ opinion.title }}</h6></a>
                <div class="small text-gray-500">by {{ opinion.author }}</div>
            </div>
        </div>
        {% endfor %}

        <!-- Additional sections (Tech, Business, Health) -->
        <div class="row gx-5 mb-5">
            {% for section, posts in sections.items %}
            <div class="col-lg-4">
                <h6>{{ section }}</h6>
                <hr class="my-4" />
                {% for post in posts %}
                <a class="text-dark mb-4" href="#!">
                    <h6>{{ post.title }}</h6>
                    <p class="text-gray-600 small mb-4">{{ post.content|truncatewords:15 }}</p>
                    <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}"
                         style="max-width: 100%; max-height: 150px; object-fit: cover;" class="img-fluid" alt="{{ post.title }}">
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
